/*#vid{
    position: relative;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -800;
    overflow: hidden;
    background: url(image/coveravant.jpg);
    background-size: cover;
}

.video{
    display: block;
}*/
body {
    background-color: #6ADEDE;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: relative;
}

button{
    background-color: #fff;
    border: none;
    font-style: oblique;
    padding: 20px 34px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
}

.button{
    text-align: center;
}

img{
    width: 500px;
    height: 500px;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}

img.display{
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.text{
    text-align: center;
}

.link ul{
    list-style-image: initial;
}

.link ul{
    list-style: none;
    position: relative;
    left: 45.5%;
}

.link li{
    float: left;
    position: relative;
}

.link li img{
    width: 65px;
    height: 65px;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}
